:root {
  --color-text: #4b6a9b;
  --color-text--strong: #222731;
  --color-subtext: #697c9a;

  --btn--text-color: #4b6a9b;
  --btn--text-color--hover: #222731;

  --color-primary: #0079ff;
  --color-btn-text: #fff;
  --color-backgrounds: #f6f8ff;

  --card-background: #fefefe;
  --card-radius: 15px;

  --card-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

html,
body {
  height: 100vh;
}

* {
  font-family: Space Mono;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default colors */
body {
  background: var(--color-backgrounds);
  color: var(--color-text);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 31px 24px;
}

/* Dark theme colors */
body.dark-theme {
  --color-text: #fff;
  --color-subtext: #fff;
  --color-text--strong: #fff;

  --btn--text-color: #fff;
  --btn--text-color--hover: #90a4d4;

  --card-background: #1e2a47;
  --card-shadow: none;

  --color-backgrounds: #141d2f;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  width: 100%;
}

.card {
  background-color: var(--card-background);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-radius);
}

.btn {
  background: var(--color-primary);
  color: var(--color-btn-text);
}

.btn--text,
.theme-icon path {
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--btn--text-color);
  fill: var(--btn--text-color);
  text-decoration: none;
}
.btn--text:hover,
.btn--text:hover > .theme-icon path {
  color: var(--btn--text-color--hover);
  fill: var(--btn--text-color--hover);
}

.text-title {
  font-size: 1.625em;
  color: var(--color-text--strong);
  font-weight: 700;
  line-height: 2.4375em;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --color-text: #eee;
    --color-backgrounds: #121212;
  }
  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    --color-text: #222;
    --color-backgrounds: #fff;
  }
}
